/*!
 *
 *
 * Material Design for Bootstrap
 * www.mdbootstrap.com
 *
 *
 */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.full-bg-img {
  background: url("http://mdbootstrap.com/images/regular/city/img%20(23).jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .full-bg-img, .view {
    height: auto;
    position: relative;
    text-align: center;
  }
  .full-bg-img .verticalcenter, .view .verticalcenter {
    top: none;
    margin-top: 40px;
    -webkit-transform: none;
    -o-transform: none;
    transform: none;
  }
  .full-bg-img .container, .view .container {
    padding-top: 30px;
  }
}

.top-nav-collapse {
  background-color: #405C84;
}

.top-nav-collapse .nav li a {
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #405C84;
  }
  .navbar .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
  }
}

.pt-color {
  background-color: #405C84 !important;
}

.st-color {
  background-color: #0E274D !important;
}

.btn-ptc {
  background-color: #405C84 !important;
}

.btn-ptc:hover {
  background-color: #5174a6 !important;
}

.btn-ptc:focus {
  background-color: #5174a6 !important;
}

.btn-stc {
  background-color: #0E274D !important;
}

.btn-stc:hover {
  background-color: #163d78 !important;
}

.btn-stc:focus {
  background-color: #163d78 !important;
}

.btn-floating,
.carousel-indicators li {
  background-color: #0E274D !important;
}

/*********************
  MAIN CAROUSEL
**********************/
html,
body,
main {
  height: 100%;
}

.carousel,
.item,
.active {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

.item:nth-child(1) {
  background-image: linear-gradient(
      rgba(38, 104, 124, 0.85), 
      rgba(38, 104, 124, 0.85)
    ),
	url("../img/meal1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.item:nth-child(2) {
  background-image: linear-gradient(
      rgba(38, 104, 124, 0.85), 
      rgba(38, 104, 124, 0.85)
    ),
	 url("../img/ingredients.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.item:nth-child(3) {
  background-image:  linear-gradient(
      rgba(38, 104, 124, 0.85), 
      rgba(38, 104, 124, 0.85)
    ),
	url("../img/groceries.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.item:nth-child(4) {
  background-image:  linear-gradient(
      rgba(38, 104, 124, 0.85), 
      rgba(38, 104, 124, 0.85)
    ),
	url("../img/scan1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}



.input-field label.active {
  font-size: 0.8rem;
  -webkit-transform: translateY(-140%);
  -moz-transform: translateY(-140%);
  -ms-transform: translateY(-140%);
  -o-transform: translateY(-140%);
  transform: translateY(-40%);
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
